/*  Name: Jan C. Rubio
    UT EID: jcr4698
 */

/* General Structural Format */

body { /* 1. Use a CSS selector to apply style(s) to at least one HTML tag. (0.2) */
    background-color: #111111;
}

p { /* 7. Change at least two box model properties of any tag, class or id. (0.2) */
    margin-left: 26px;
}

a {
    font-weight: bold;
}

a:hover { /* 6. Use a CSS selector to change the color of <a> when you hover over it. (0.2)*/
    color: #ffffff;
    font-weight: bold;
}

img {
    margin-left: 26px;
    width: 128px;
    height: 128px;
}

button {
    /* Font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #0ee2e2;
    background-color: #000000;
    /* Size */
    /* height: 45px;
    width: 280px; */
    /* Margins and Alignments */
    margin-top: 18px;
    margin-left: 26px;
    margin-bottom: 25px;
    vertical-align: middle;
    /* Border */
    border-color: #ffffff;
    border-style: solid;
    border-radius: 5px;
}

button:hover {
    /* Font */
    color: #ffffff;
    /* Settings */
    border: #404040;
    border-style: solid;
    border-width: 3px;
}

button:active {
    /* Settings */
    border: #0ee2e2;
    border-style: solid;
    border-width: 4px;
  }

/* Single Element Format */

#italics { /* 3. Create at least one id, apply it to an element, and style it. (0.2)*/
    font-style: italic;
    filter: brightness(60%)
}

#heroku-app {
    margin-left: 20px;
    transition: all .5s linear
}

/* Headings and Sub-headings Format */

.title {
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.subheading {
    color: #a0a0a0;
}

.heading {
    color: #ffffff;
}

/* Section Specific Format */
.projects {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0ee2e2;
}

.experience {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #19d137;
}

.links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #db4c4c;
}
